
.ant-select-arrow{
    font-size: 12px;
}




@media screen and (min-width:2560px){
 .ant-select-selector {
    font-size: 2rem !important;
}

.ant-select-single {
    height: 4rem;
}

.ant-select-arrow{
    font-size: 30px;
}



}



